<div class="main">
  <div class="card border-info">
    <div class="card-header bg-info"><h2 class="text-center mb-0"><span class="text-light">メールをご確認ください</span></h2></div>
    <div class="form-wrap-info">
      <p class="mb-2"><strong>おばコミュにご登録いただきありがとうございます。</strong></p>
      <p>
         おばコミュから会員様宛にメールをお送りいたしました。<br />
         メールの内容をご確認いただき、<span class="text-danger font-weight-bold">アカウントを確認する</span><br />
         リンクよりログインの手続きを行ってください。
      </p>
    </div>
  </div>
</div>