<div class="topic">
  <div class="container">
    <h1 class="topic-font my-4">会員一覧ページ</h1>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <% @users.each do |user| %>
      <div class="card col-md-3">
        <%= attachment_image_tag user, :profile_image, fallback: "no-image.jpg", size:"220x220", class: "d-block mx-auto" %>
        <div class="card-body">
          <h5 class="card-title"><%= user.name %></h5>
          <p class="card-text"><%= truncate user.profile, length: 15, omission: '...' %></p>
          <%= link_to "詳細をみる", user_path(user), class: "btn btn-green btn-lg d-block mx-auto" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

