body {
  background-color: #fff0ed;
  font-size: 16px;
  line-height: 160%;
  color: #262626;
}

footer {
  margin-top: auto;
  background-color: #f9d1d4;
}

.no-underline {
  text-decoration: none !important;
  color: #262626;
}

.no-underline:hover {
  text-decoration: underline !important;
  color: #262626;
  opacity: 0.8;
}

.no-underline-danger {
  text-decoration:none !important;
  color: #262626;
}

.no-underline-danger:hover {
  color: #DD3444;
}

.btn-shadow {
  display: inline-block;
  padding: 0.5em 1em;
  border-bottom: solid 4px #627295;
}
.btn-shadow:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
.mail-font {
  font-size: 20px;
}
.topic {
  height: auto;
  background-color: #FFF;
}
.topic-font {
  font-size: 28px;
}
// ボタンカスタマイズ
.btn-green,
.btn-green.disabled, .btn-green:disabled {
  color: #fff;
  background: #51B86A;
  background: #51B86A;
  display: inline-block;
  padding: 0.5em 1em;
  border-bottom: solid 4px #627295;
}
.btn-green:focus, .btn-green.focus,
.btn-green:not(:disabled):not(.disabled):active:focus, .btn-green:not(:disabled):not(.disabled).active:focus,
.show > .btn-green.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(80,185,106);
}
.btn-green:hover {
  color: #fff;
  background-color: #469c5b;
  border-color: #469c5b;
}
.btn-green:not(:disabled):not(.disabled):active, .btn-green:not(:disabled):not(.disabled).active,
.show > .btn-green.dropdown-toggle {
  color: #fff;
  background-color: #51B86A;
  border-color: #51B86A;
}
