.form-wrap-mini {
  max-width: 400px;
  width: 100%;
  margin: 0px auto;
}
.form-wrap-danger {
  max-width: 410px;
  width: 100%;
  margin: 50px auto 30px;
}
.form-wrap-info {
  max-width: 450px;
  width: 100%;
  margin: 50px auto 30px;
}