<p>こんにちは、<%= @resource.email %>様!</p>
<p>
  ログインのパスワード変更の申請を受け付けました。<br />
  パスワードの再設定をご希望の場合は、以下リンクをクリックし新しいパスワードをご登録ください。
</p>
<p><%= link_to 'パスワード変更はこちら', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>※パスワード変更の申請に心当たりがない場合は、お手数ですが当メールの削除をお願いいたします。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
